{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(banner-bg.png);
background-size: cover;
background-position: center;
}
header .container{
    height: 10vh;
    width: 100%;
    margin: auto;
padding: 0%;
}
.logo{
    display:flex ;
    align-items: center;

}
.logo.img{
    height: 20px;
    width: 30px;
}
